#myContainer {
    width: 450px;
    height: 450px;
    position: relative;
    background: aqua;
}
#myAnimation {
    width: 70px;
    height: 60px;
    position: absolute;
    background: black;
}

#myCanvas {
	position: fixed;
	top: 300px;
	right:300px;
}